PORT = 3000
MONGO_URI = mongodb+srv://Berra1234:Berra1234@cluster0.z115d.mongodb.net/Berra_web?retryWrites=true&w=majority

GOOGLE_CLIENT_ID = 740860240525-8vcnl6j682l1dikgqhak1kq977movkb5.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = J4y1m9LUVFslCC7YTY9ih7VI

